.nav-button {
    border-left: solid gold 2px;
    border-right: solid gold 2px;
    border-top: solid gold 0px;
    border-bottom: solid gold 0px;
    color: whitesmoke;
}

.nav-button:hover {
    background: linear-gradient(0.25turn, gold, black, gold);
    text-shadow: 1px 1px 0px black;
    cursor: pointer;
}